<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Credito para Tí</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0px;
        }

        .container, .row {
            height: 100%;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                <div class="card-body d-flex flex-column justify-content-center align-items-center"
                     style="background-color: #af1342;">
                    <h2 class="card-title" style="color: #FFFFFF">Credito para Tí</h2>
                    <h5 class="card-title" style="color: #FFFFFF">Descargar de App</h5>
                    <a href="http://3.211.231.97:8080/apk/BrokerCPT.apk"
                       class="btn btn-primary btn-block"
                        style="background-color: #ce000a; border-color:#e1696f; "
                    ><strong>Presione aqui</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
