<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Alta de usuario</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 18x;
        }

        .float-right{
            float: right;
        }

        .float-left{
            float: left;
        }

        .float-clear{
            clear: both;
        }

        .d-block{
            display: block;
        }
    </style>
</head>
<body>
<span th:text="${'Fecha: '+ #dates.format(#dates.createNow(),'dd/MM/yyyy')}" class="float-right d-block" ></span>
<span class="float-clear d-block"></span>
<span th:text="${'Lugar: Ciudad de Mexico'}" class="float-right d-block"></span>
<span class="float-clear d-block"></span>
<p>&nbsp;</p>
<span th:text="${'Estimado: ' + name}" class="d-block"></span>
<p>&nbsp;</p>
<span class="d-block">Bienvenido a Credito Para Ti, S.A. de C.V. SOFOM ENR, por este medio le estamos proporcionando los datos acceso al Tablero Pima de Credito para Ti</span>
<p>&nbsp;</p>
<span class="d-block">Tu usuario:</span>
<span class="d-block"><strong th:text="${username}"></strong></span>
<span class="d-block">Tu contraseña:</span>
<span class="d-block"><strong th:text="${password}"></strong></span>
<span class="d-block">Te avisamos que en tu primer ingreso el sistema te pide cambiar tu contraseña por razones de seguridad</span>
</body>
</html>
