<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Alta de usuario</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
        }
        .float-right {
            float: right;
        }

        .float-left {
            float: left;
        }

        .float-clear {
            clear: both;
        }

        .d-block{
            display: block;
        }
    </style>
</head>
<body>
<span th:text="${'Fecha: '+ #dates.format(#dates.createNow(),'dd/MM/yyyy')}" class="float-right d-block" ></span>
<span class="float-clear d-block"></span>
<span th:text="${'Lugar: '+ location}" class="float-right d-block" ></span>
<span class="float-clear d-block"></span>
<span th:text="${'Estimado(a): '+ name}"></span>
<p class="d-block"></p>
<span class="d-block">Bienvenido a <strong>Credito Para Ti, S.A. de C.V. SOFOM ENR</strong>, por este medio le estamos proporcionando los datos (liga) en donde podrá obtener la aplicación APP que le permitirá interactuar para el llenado de su Solicitud de Credito, asi como, enviar los documentos que acompañan a su solicitud.</span>
<p class="d-block"></p>
<span>Para iniciar la descargar <a th:href="@{https://pimaid.dev:8443/Cpttablero/documents/file/apk}">presione aqui</a> </span>
<p class="d-block"></p>
<span class="d-block">Preferentemente descargue e instale la APP directamente en su equipo de telefónica móvil (celular), en este mismo correo se encuentra su usuario y contraseña temporal para el acceso a la aplicación, la contraseña deberá de cambiarla.</span>
<span class="d-block">Tu usuario:</span>
<span class="d-block"><strong th:text="${username}"></strong></span>
<span class="d-block">Tu contraseña:</span>
<span class="d-block"><strong th:text="${password}"></strong></span>
<p class="d-block"></p>
<span class="d-block">Para cualquier duda u orientación favor de comunicarse por teléfono con su asesor de crédito</span>
<p class="d-block"></p>
<span class="d-block">A t e n t a m e n t e</span>
<p class="d-block"></p>
<p class="d-block"></p>
<span th:text="${namecreated}" class="d-block"></span>
<span class="d-block">Correo electrónico:&nbsp;<span th:text="${emailcreated}"></span></span>
<span class="d-block">Numero telefónico:&nbsp;<span th:text="${phonecreated}"></span></span>
<p class="d-block"></p>
<p class="d-block"></p>
<span class="d-block">Nota: podrá consultar nuestro aviso de privacidad en la pagina de internet de Credito Para Ti, SOFOM ENR, creditoparati.com.mx</span>
</body>
</html>
