<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recuperación de contraseña:</title>
</head>
<body>
<p th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy')}"></p>
<p>Lugar: Ciudad de Mexico</p>
<br/>
<p th:text="${'Estimado: '+ name + ' ' + paterno + ' ' + materno}"></p>
<br/>
<p>Bienvenido a Credito Para Ti, S.A. de C.V. SOFOM ENR, por este medio le estamos proporcionando su nueva contraseña, la cual puede cambiar en la opción "Contraseña" del menu de nuestra App </p>
<br/>
<p>Nueva contraseña:</p>
<p th:text="${password}"></p>
<br/>
<p>A t e n t a m e n t e</p>
<p>Credito para Ti</p>
<br/>
<br/>
<p>Nota: podrá consultar nuestro aviso de privacidad en la pagina de internet de Credito Para Ti, SOFOM ENR, creditoparati.com.mx</p>
</body>
</html>
