<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Recuperación de contraseña:</title>
</head>
<body>
<span style="float: right;" th:text="${' '+#dates.format(#dates.createNow(), 'dd MMM yyyy')}"></span>
<span style="float: right;" >Ciudad de Mexico&nbsp;</span>
<span style="clear: both"></span>
<br/>
<span  style="display: block" th:text="${'Estimado: '+ name + ' ' + paterno + ' ' + materno}"></span>
<br/>
<span style="display: block">Bienvenido a Credito Para Ti, S.A. de C.V. SOFOM ENR, por este medio le estamos proporcionando su nueva contraseña, la cual puede cambiar en la opción "Contraseña" del menu de nuestra App </span>
<br/>
<span style="display: block">Nueva contraseña:</span>
<span style="display: block"><strong th:text="${password}"></strong></span>
<br/>
<br/>
<span style="display: block">A t e n t a m e n t e</span>
<span style="display: block">Credito para Ti</span>
<br/>
<br/>
<span>Nota: podrá consultar nuestro aviso de privacidad en la pagina de internet de Credito Para Ti, SOFOM ENR, creditoparati.com.mx</span>
</body>
</html>
