<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
		  name="viewport">
	<meta content="ie=edge" http-equiv="X-UA-Compatible">
	<title>Reporte de identidad</title>
	<link th:href="@{/pdf.css}" rel="stylesheet"/>
</head>
<body>
<div style="width: 100%; ">
	<span style="width: *; text-align: center; padding: auto auto;">
		<h3>Reporte de Validación de Identidad</h3>
	</span>
</div>
<table style="width: 100%; ">
	<tbody>
		<tr>
			<td colspan="4" style="background: #000000;color: #FFFFFF;width: 100%;">
				<span style="display: block;">
					<span >Datos Generales del Enrolamiento</span>
					<span style="margin-right: auto;">Folio: <span th:text="${creditId}" /></span>
				</span>
			</td>
		</tr>
		<tr style="float: none;">
			<td colspan="4">
				<span style="width: 100%; ">
					<span style="padding: 0 12; display: inline-block; width: 30%;">
						<label style="display: block;">Validación Identidad</label>
						<label style="display: block;"  th:text="${identidad}"></label>
					</span>
					<span style="padding: 0 12; display: inline-block; width: 30%;">
						<label style="display: block;">Fecha de Impresión</label>
						<label style="display: block;" th:text="${datePrint}"></label>
					</span>
					<span style="padding: 0 12; display: inline-block; width: 30%;">
						<label style="display: block;">Fecha enrolamiento</label>
						<label style="display: block;"  th:text="${dateEnrolment}"></label>
					</span>
				</span>
			</td>
		</tr>
		<tr>
			<td colspan="4">
				<span style="display: flex; flex-direction: row;width: 100%; ">
					<span style="padding: 0 12; display: inline-block; width: 25%;">
						<label style="display: block;">Núm de Propuesta</label>
						<label style="display: block;" th:text="${creditId}"></label>
					</span>
					<span style="padding: 0 12; display: inline-block; width: 25%;">
						<label style="display: block;">Rol</label>
						<label style="display: block;">N/A</label>
					</span>
					<span style="padding: 0 12; display: inline-block; width: 25%;">
						<label style="display: block;">Correo electrónico</label>
						<label style="display: block;" th:text="${email}"></label>
					</span>
					<span style="padding: 0 12; display: inline-block; width: 25%;">
						<label style="display: block;">Número de celular</label>
						<label style="display: block;" th:text="${mobile}"></label>
					</span>
				</span>
			</td>
		</tr>
		<tr>
			<td style="background: #000000;color: #FFFFFF;" colspan="4"><span>Detalles de Capas de Validación</span></td>
		</tr>
		<tr>
			<td style="background: #CCCCCC;color: #000000;text-align: center;" colspan="2">Capa de Documento:</td>
			<td style="background: #CCCCCC;color: #000000;text-align: center;" colspan="2"><span class="bgGrayCenter">Capa Biométrica:</span></td>
		</tr>
		<tr>
			<td><span>Autentificación de documento Nivel 1</span></td>
			<td style="width:10%; text-align: center"><span th:text="${inevalido}"></span></td>
			<td><span>Comparación de selfie vs foto de documento identidad.</span></td>
			<td style="width:10%; text-align: center"><span th:text="${selfie}"></span></td>
		</tr>
		<tr>
			<td>Candados de seguridad visibles anverso</td>
			<td style="text-align: center">N/A</td>
			<td>Autentificación Nivel 1, prueba de vida facial</td>
			<td style="text-align: center">N/A</td>
		</tr>
		<tr>
			<td>Candados de seguridad visibles reverso</td>
			<td style="text-align: center">N/A</td>
			<td>Verificación biométrica 1:N Deduplicación</td>
			<td style="text-align: center">N/A</td>
		</tr>
		<tr>
			<td>Vigencia Documento</td>
			<td  style="text-align: center" th:text="${vigencia}"></td>
			<td></td>
			<td style="text-align: center" ></td>
		</tr>
		<tr>
			<td>MRZ Valido</td>
			<td  style="text-align: center" th:text="${mrz}"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td style="background: #CCCCCC;color: #000000;text-align: center;" colspan="2">Capa de Gobierno:</td>
			<td style="background: #CCCCCC;color: #000000;text-align: center;" colspan="2">Capa Digital:</td>
		</tr>
		<tr>
			<td>Existe INE en listas nominal</td>
			<td  style="text-align: center">N/A</td>
			<td>Email verificado</td>
			<td style="text-align: center">N/A</td>
		</tr>
		<tr>
			<td>CURP Valido</td>
			<td  style="text-align: center" th:text="${curp}"></td>
			<td>Edad del correo electrónico</td>
			<td  style="text-align: center">N/A</td>
		</tr>
		<tr>
			<td>Coincidencia del CURP con datos de identidad</td>
			<td  style="text-align: center" th:text="${curp}"></td>
			<td>Estatus de Riesgo</td>
			<td style="text-align: center">N/A</td>
		</tr>
		<tr>
			<td></td>
			<td style="text-align: center"></td>
			<td>Geolocalización</td>
			<td style="text-align: center">N/A</td>
		</tr>
		<tr>
			<td></td>
			<td style="text-align: center"></td>
			<td>Autentificación Número de Celular</td>
			<td style="text-align: center">N/A</td>
		</tr>
	</tbody>
</table>
</body>
</html>
